.detail-container__modal__title {
  font-size: 2.5rem;
}

.detail-container__modal__byline {
  font-size: 2rem;
  margin: .5rem 0;
}

.detail-container__modal__dates {
  font-size: 1.5rem;
  margin: .5rem 0;
}

.detail-container__modal__abstract {
  font-size: 1.5rem;
  margin: 1rem;
}

.detail-container__modal__image {
  height: 32rem;
}
