.view-options__dropdown {
  position: fixed;
  font-size: 16px;
}

@media screen and (max-width: 684px) {
  .view-options__dropdown {
    top: 14rem;
  }
}

@media screen and (min-width: 685px) {
  .view-options__dropdown {
    right: 1rem;
  }
}
